<li [ngClass]="{'list-group-item': true,
                  'list-group-item-success': post.loveIts > 0,
                  'list-group-item-light': post.loveIts === 0,
                  'list-group-item-danger': post.loveIts < 1}">
  <h3>{{post.title}}</h3>
  <p style="float: right;">{{post.createdAt | date: 'short' | uppercase}}</p>
  <p>{{post.content}}</p>
  <button class="btn btn-success" (click)="onLoveIt(post.id)">Love it <span *ngIf="post.loveIts>=0">({{post.loveIts}})</span></button>
  <button class="btn btn-danger" (click)="onDontLoveIt(post.id)">Don't love it <span *ngIf="post.loveIts<=0">({{post.loveIts * -1}})</span></button>
  <button class="btn btn-danger float-right" (click)="onDelete(post.id)">Supprimer</button>
</li>
